.wrapper
  .banner
    .banner__container
      .banner__title
        .banner__title-left Бонус
        .banner__title-right
          span.banner__title-right-number 4500
          span.banner__title-right-roman ₴
      .banner__image
        img(src='img/scarf.png' alt='scarf')
      .banner__text Поддержи тех, кто #[br] #[span поддерживает] нас
    .banner__footer
      ul.banner__footer-list
        li.banner__footer-item
          .banner__footer-item-left 500₴
          .banner__footer-item-right ставка #[br] без риска
        li.banner__footer-item
          img(src='img/plus.svg' alt='plus')
        li.banner__footer-item
          .banner__footer-item-left 4000₴
          .banner__footer-item-right на первый #[br] депозит










